{% extends "layout.html" %}
{% block head %}
    
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script type="text/javascript" src="../static/js/jquery.js"></script>
     <link rel="stylesheet" type="text/css" href="../static/css/login_style.css" />
{% endblock %}
{% block body %}
<div id="grad1">
     
    <!-- Description-->
    <div class="container-fluid div1" style="padding-top: 40px;">
    <div class="row">
    <div class="col-md-3 col-lg-3" style="background-color:rgb();">
         </div>
        
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="../static/js/login.js"></script>
    </div>  
    </div>
    </div>      
    </fieldset>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

</div>
        
    <div class="col-md-6">
    <p style="text-align: justify;">
    This portal provides a common platform for all bidders to go through the tenders and apply accordingly. There&rsquo;s a single point access to the procurements made across various central government organisations. All the tenders proposed by various departments are displayed here. Its an application to obtain real time info/track the status of any Government department related tenders by the vendors. It also provides vendors a feedback system, raise their concerns and improve transparency. It combines all the various types of tenders and makes it more easy for bidders to select tenders.
    </p>
    </div>
    
    <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
        <br>
    <br>
    <script type="text/javascript" src="../static/js/wowslider.js"></script>
    <script type="text/javascript" src="../static/js/script.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
 {% endblock %}

































 
